.container {
  width: 900px;
  margin: 0 auto;
}

h1 {
  color: rgb(58, 60, 80);
  font-family: 'Alkatra', cursive;

}

h2 {
  color: rgb(29, 29, 116);
  font-family: 'Alkatra', cursive;
  background-color: rgb(167, 203, 209);
  border-radius: 10px;
}

.card {
  text-align: center;
  background-color: rgba(223, 225, 230, 0.638);
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 9px rgb(73, 73, 73, 0.2);
}

img {
  border-radius: 25px;
}

#image_background {
  background-image: url("images/NvL.gif");
}

body {
  background-color: #132b61;
  font-family: 'Fira Sans', sans-serif;
  color: rgb(14, 14, 51);
  font-size: 20px;
  line-height: normal;

}

i {
  font-size: 40px;
  color: rgb(55, 67, 100);
}

button {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 100;
  font-size: 20px;
}

i:hover {
  background-color: rgb(203, 50, 157);
}

.list-inline {
  padding: 0;
}

.list-inline li {
  display: inline;
  padding: 50px;
  text-align: center;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
